<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil2.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Andrés Sebastián Bareiro</p>
        <p>Programador Full Stack Trainee/Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Sobre mí</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum id aut architecto magni libero expedita nemo recusandae error beatae fuga consequatur esse at obcaecati laudantium, facere neque, atque exercitationem tempora?</p>
    </div>
</div>
