<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Proyecto 1</h2>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis accusantium aliquid sapiente, corrupti quod, fuga, culpa ratione aperiam cum quia a aspernatur temporibus maxime repellat error et consectetur asperiores dolore.</P>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyecto1.jpg" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
