<div class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../../assets/banner1.jpg" alt="Foto: FADU">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/banner2.jpg" alt="Foto: FADU">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/banner3.jpg" alt="Foto: FADU">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/banner4.jpg" alt="Foto: FADU">
    </div>
  </div>
</div>