<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Educacion 1</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam est unde ullam illo asperiores beatae
                doloremque ipsum? Debitis aperiam, fugiat laborum ipsum, similique hic, vitae esse rerum obcaecati saepe
                ad?</p>
        </ul>
        <ul>
            <li>
                <h2>Educacion 2</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam est unde ullam illo asperiores beatae
                doloremque ipsum? Debitis aperiam, fugiat laborum ipsum, similique hic, vitae esse rerum obcaecati saepe
                ad?</p>
        </ul>
        <ul>
            <li>
                <h2>Educacion 3</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam est unde ullam illo asperiores beatae
                doloremque ipsum? Debitis aperiam, fugiat laborum ipsum, similique hic, vitae esse rerum obcaecati saepe
                ad?</p>
        </ul>
    </div>

</div>
