<div class="row">
    <h1>Hard y Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="80"
                [title]="'HTML'"
                [showTitle]="true"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C'"
                [innerStrokeColor]="'#C7E'"
                [animation]="true"
                [animationDuration]="900"
                [imageSrc]="'../../../assets/html.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
            ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="80"
                [title]="'  CSS'"
                [showTitle]="true"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C'"
                [innerStrokeColor]="'#C7E'"
                [animation]="true"
                [animationDuration]="900"
                [imageSrc]="'../../../assets/css.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
            ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="80"
                [title]="'JavaScript'"
                [showTitle]="true"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C'"
                [innerStrokeColor]="'#C7E'"
                [animation]="true"
                [animationDuration]="900"
                [imageSrc]="'../../../assets/js.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
            ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="80"
                [title]="'GitHub'"
                [showTitle]="true"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C'"
                [innerStrokeColor]="'#C7E'"
                [animation]="true"
                [animationDuration]="900"
                [imageSrc]="'../../../assets/git.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
            ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="80"
                [title]="'Angular'"
                [showTitle]="true"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C'"
                [innerStrokeColor]="'#C7E'"
                [animation]="true"
                [animationDuration]="900"
                [imageSrc]="'../../../assets/angular.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
            ></circle-progress>
    </div>
</div>
