.row{
    background-color: rgb(233 239 245 / 42%);
    padding: 20px;
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
}

.text-center{
    background-color: white;
    padding: 20px;
    border-radius: 5%;
    margin: 20px;
}