<div class="row">
    <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil2.jpg" class="" id="fotoperfil">
    </div>
    <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
        <br>
        <h3>Programador Full Stack Trainee/Jr.</h3>
        <br>
        <br>
        <p>Hola! Soy <b>Andrés Sebastián</b>, estudiante y <b>diseñador gráfico autónomo</b>, con conocimientos en <b>Programación Web Full Stack Jr.</b> Me desenvuelvo orientado a los resultados y tengo buena capacidad de <b>trabajo en equipo</b>. También cuento con conocimientos en <b>diseño UI/UX</b>, <b>marketing digital</b> en redes sociales y producción de contenido audiovisual.
        </p>
    </div>
    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2">
    </div>
</div>
